<phpunit bootstrap="./tests/Bootstrap.php" 
colors="true">
    <testsuites>
        <testsuite name="ZFRuler Test Suite">
            <directory>./tests/ZFRulerTest</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">../src</directory>
        </whitelist>
    </filter>
</phpunit>
